$breakpoints    : (
  'laptop'      : '(max-width: 1440px)',
  'tablet'      : '(max-width: 1024px)',
  'phablet'     : '(max-width: 736px)',
  'phone'       : '(max-width: 480px)',
);

$font--base     : ('Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif);

$size--base     : 17px;
$size--minor    : 15px;

$color--base    : #555;
$color--heading : #444;
$color--border  : #e7e7e7;
$color--minor   : #aaa;
$color--accent  : #62940D;

$duration--base : 250ms;

$tick-size      : 30px;

$width--header  : 180px;
$width--content : 500px;
