.downloads {
  margin-top: rem(-$tick-size);
  display: flex;
  flex-wrap: wrap;

  li {
    flex-basis: 50%;
    margin-top: rem($tick-size);
  }

  svg {
    position: absolute;
    top: 50%;
    left: 0;
    width: auto;
    height: rem(50px);
    transform: translateY(-50%);
  }

  span, small {
    transition: trans(color);
  }

  span {
    display: block;
    font-weight: bold;
    font-size: rem(18px);
  }

  small {
    font-size: rem($size--minor);
    color: $color--minor;
  }

  a {
    position: relative;
    padding-left: rem($tick-size * 2);

    &::before {
      display: none;
    }

    &:hover span,
    &:hover small {
      color: $color--accent;
    }
  }

  @include breakpoint(phone) {
    li {
      flex-basis: 100%;
    }
  }
}
