.game {
  display: flex;
  flex-wrap: wrap;

  &::before {
    display: none;
  }

  &__poster {
    flex-basis: 100%;
    margin-bottom: rem(10px);
  }

  &__title, &__meta {
    transition: trans(color);
  }

  &__title {
    font-size: rem(19px);
    color: $color--heading;
  }

  &__meta {
    margin-left: auto;
    font-size: rem($size--minor);
    color: $color--minor;

    dt {
      @include a11y-only();
    }

    dd {
      display: inline-block;
    }

    dd + dd::before {
      content: ',\00a0';
    }

    dd + dt + dd::before {
      content: '\00a0\00b7\00a0';
    }
  }

  &:hover &__title,
  &:hover &__meta {
    color: $color--accent;
  }
}
