.header {
  width: $width--header;

  &__logo {
    color: $color--heading;

    &::before {
      display: none;
    }

    svg {
      width: auto;
      height: rem($tick-size * 5);
    }
  }

  &__menu {
    a {
      position: relative;
      color: $color--minor;

      &:hover {
        color: $color--accent;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -1em;
        bottom: 0;
        left: -1em;
      }
    }

    &__selected a {
      color: $color--base;
    }
  }

  &__elsewhere {
    li {
      display: inline-block;
      padding-right: 0.75em;
    }

    a {
      color: $color--minor;

      &::before {
        display: none;
      }

      &:hover {
        color: $color--accent;
      }
    }

    svg {
      height: rem($size--base);
      width: auto;
    }
  }
}
