{% extends '_layout.twig' %}

{% set title %}
  Not Found
{% endset %}

{% block content %}
  <h1 class="heading heading--primary">{{ title }}</h1>
  <div class="copy-block">
    <p>The URL you requested could not be found.</p>
  </div>
{% endblock %}
