{% extends '_layout.twig' %}

{% set selected = 'games' %}

{% set title %}
  Kromka &amp; Chleba
{% endset %}

{% set description %}
  Game that requires cleverness and a bit thinking. Player&apos;s task is to free Chleba by switching on a hoist that elevates the cage. You take a role of Kromka, who instead of legs has a huge pen spring. On your way, you will have to beat various enemies—from little tanks to cannons firing with huge bullets.
{% endset %}

{% block content %}
  <div class="spacing spacing--double">
    <div class="spacing">
      <h1 class="heading heading--page">{{ title }}</h1>
      <div class="copy-block">
        <p>{{ description }}</p>
      </div>
    </div>
    <section id="downloads">
      <h2 class="outline">Downloads</h2>
      <ul class="downloads">
        <li>
          <a href="downloads/kromka-and-chleba.exe">
            {% include '_installer.svg' %}
            <span>Installer (Windows)</span>
            <small>EXE, 1 MB</small>
          </a>
        </li>
      </ul>
    </section>
    <section id="media">
      <h2 class="outline">Media</h2>
      <ul class="media spacing">
        <li><img src="images/kromka-and-chleba/screen-2.png" alt="Screen #2"></li>
        <li><img src="images/kromka-and-chleba/screen-4.png" alt="Screen #4"></li>
      </ul>
    </section>
  </div>
{% endblock %}
