{% extends 'layouts/_main.twig' %}

{% set selected = 'games' %}

{% set title %}
  Mega Hiper Japko Ekstrim
{% endset %}

{% set description %}
  Your task is to gain as many points as possible by smashing falling boulders. To help you with this task, you are able to use some additional bonuses, eg. Mega Jump or double-barrelled gun. You can also get more poits by enduring more time without loosing a life. Every second you get additional ammount of points, equal to level number.
{% endset %}

{% block content %}
  <div class="spacing spacing--double">
    <div class="spacing">
      <h1 class="heading heading--page">{{ title }}</h1>
      <div class="copy">
        <p>{{ description }}</p>
      </div>
    </div>
    <section id="downloads">
      <h2 class="outline">Downloads</h2>
      <ul class="downloads">
        <li>
          <a href="downloads/mega-hiper-japko-ekstrim.exe">
            {% include 'icons/_icon-installer.svg' %}
            <span>Installer (Windows)</span>
            <small>EXE, 1 MB</small>
          </a>
        </li>
      </ul>
    </section>
    <section id="media">
      <h2 class="outline">Media</h2>
      <ul class="media spacing">
        <li><img src="images/mega-hiper-japko-ekstrim/screen-3.png" alt="Screen #3"></li>
        <li><img src="images/mega-hiper-japko-ekstrim/screen-4.png" alt="Screen #4"></li>
        <li><img src="images/mega-hiper-japko-ekstrim/screen-1.png" alt="Screen #1"></li>
      </ul>
    </section>
  </div>
{% endblock %}
