@use "sass:math";

html {
  font-size: $size--base;

  &, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  *::before,
  *::after {
    box-sizing: inherit;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: $color--accent;
  }
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: $font--base;
  font-weight: 400;
  line-height: rem($tick-size);
  color: $color--base;
  max-width: rem($width--header + $tick-size + $width--content);
  min-width: rem(320px);
  margin: 0 auto;
  padding: rem($tick-size * 2) rem(math.div($tick-size, 2));

  @include breakpoint(phablet) {
    display: block;
    max-width: rem($width--content + $tick-size);
    padding: 0 rem(math.div($tick-size, 2)) rem($tick-size);
  }
}

ul {
  list-style: none;
}

svg,
img {
  vertical-align: top;
  width: 100%;
  fill: currentColor;
}

a {
  display: inline-block;
  position: relative;
  color: currentColor;
  text-decoration: none;
  transition: trans(color);

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 0.7em;
    left: 0;
    border-bottom: rem(1px) solid $color--border;
    transition: trans(border-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    bottom: -0.5em;
    left: -0.5em;
  }

  &:hover {
    &, &::before {
      color: $color--accent;
      border-color: $color--accent;
    }
  }
}
