<% @title = "Elf Elfonsinio 2" %>
<% @description = "Elf Elfonsinio 2 is another part of adventure of a goofy elf, Santa&apos;s helper, with whom he lives in peace and tranquility at the North Pole. This time our main character will get special and very responsible task from Santa." %>
    <article role="main">
      <h1 class="heading heading-primary"><%= @title %></h1>
      <div class="formatting">
        <p><%= @description %></p>
        <p>EE2 is a regular platform game (gather, ass level, avoid enemies). We will have to travel through 3 worlds imitating 3 seasons (summer, fall, winter). Each of the worlds will mark out many kinds of enemies and background elements.</p>
      </div>
      <section id="downloads">
        <h2 class="outline">Downloads</h2>
        <ul class="downloads clearfix">
          <li class="installer">
            <a href="/download/elf-elfonsinio-2.exe">
              <i class="icon-installer"></i>
              <span>Installer (Windows)</span>
              <small class="minor">EXE, 7 MB</small>
            </a>
          </li>
          <li class="soundtrack">
            <a href="/download/elf-elfonsinio-2-soundtrack.zip">
              <i class="icon-soundtrack"></i>
              <span>Soundtrack + Covers</span>
              <small class="minor">Zipped MP3s, 10 MB</small>
            </a>
          </li>
        </ul>
      </section>
      <section id="media">
        <h2 class="outline">Media</h2>
        <ul class="media clearfix">
          <li><img src="/media/elf-elfonsinio-2/screen-1.png" alt="Screen #1"></li>
          <li><img src="/media/elf-elfonsinio-2/screen-2.png" alt="Screen #2"></li>
          <li><img src="/media/elf-elfonsinio-2/screen-3.png" alt="Screen #3"></li>
          <li><img src="/media/elf-elfonsinio-2/screen-4.png" alt="Screen #4"></li>
          <li class="video video-widescreen">
            <iframe src="http://www.youtube.com/embed/VeTGGX-sfTM?showinfo=0" frameborder="0"></iframe>
          </li>
        </ul>
      </section>
    </article>
