<% @title = "Kromka &amp; Chleba" %>
<% @description = "Game that requires cleverness and a bit thinking. Player&apos;s task is to free Chleba by switching on a hoist that elevates the cage. You take a role of Kromka, who instead of legs has a huge pen spring. On your way, you will have to beat various enemies&mdash;from little tanks to cannons firing with huge bullets." %>
    <article role="main">
      <h1 class="heading heading-primary"><%= @title %></h1>
      <div class="formatting">
        <p><%= @description %></p>
      </div>
      <section id="downloads">
        <h2 class="outline">Downloads</h2>
        <ul class="downloads clearfix">
          <li class="installer">
            <a href="/download/kromka-and-chleba.exe">
              <i class="icon-installer"></i>
              <span>Installer (Windows)</span>
              <small class="minor">EXE, 1 MB</small>
            </a>
          </li>
        </ul>
      </section>
      <section id="media">
        <h2 class="outline">Media</h2>
        <ul class="media clearfix">
          <li><img src="<%= STATIC_URL %>/media/kromka-and-chleba/screen-2.png" alt="Screen #2"></li>
          <li><img src="<%= STATIC_URL %>/media/kromka-and-chleba/screen-4.png" alt="Screen #4"></li>
        </ul>
      </section>
    </article>
