<% @title = "Mega Hiper Japko Ekstrim" %>
<% @description = "Your task is to gain as many points as possible by smashing falling boulders. To help you with this task, you are able to use some additional bonuses, eg. Mega Jump or double-barrelled gun. You can also get more poits by enduring more time without loosing a life. Every second you get additional ammount of points, equal to level number." %>
    <article role="main">
      <h1 class="heading heading-primary"><%= @title %></h1>
      <div class="formatting">
        <p><%= @description %></p>
      </div>
      <section id="downloads">
        <h2 class="outline">Downloads</h2>
        <ul class="downloads clearfix">
          <li class="installer">
            <a href="/download/mega-hiper-japko-ekstrim.exe">
              <i class="icon-installer"></i>
              <span>Installer (Windows)</span>
              <small class="minor">EXE, 1 MB</small>
            </a>
          </li>
        </ul>
      </section>
      <section id="media">
        <h2 class="outline">Media</h2>
        <ul class="media clearfix">
          <li><img src="/media/mega-hiper-japko-ekstrim/screen-3.png" alt="Screen #3"></li>
          <li><img src="/media/mega-hiper-japko-ekstrim/screen-4.png" alt="Screen #4"></li>
          <li><img src="/media/mega-hiper-japko-ekstrim/screen-1.png" alt="Screen #1"></li>
        </ul>
      </section>
    </article>
