<% @title = "Zenek Zombie" %>
<% @description = "Zenek Zombie is a platform game with elements of adventure and role play. Player takes a role of Zenek who is a witness of kidnapping his wife. Not very brave hero decides to search for his wife." %>
    <article role="main">
      <h1 class="heading heading-primary"><%= @title %></h1>
      <div class="formatting">
        <p><%= @description %></p>
        <p>Zenek gets help from his grandpa who teaches him the magic. He walks through the world full of enemies collecting money and diamonds. You can use money to buy some healing potions, buy new lives, gain higher magic level. Diamonds can be also gathered by finishing quests throughout the game.</p>
      </div>
      <section id="downloads">
        <h2 class="outline">Downloads</h2>
        <ul class="downloads clearfix">
          <li class="installer">
            <a href="/download/zenek-zombie.exe">
              <i class="icon-installer"></i>
              <span>Installer (Windows)</span>
              <small class="minor">EXE, 16 MB</small>
            </a>
          </li>
          <li class="soundtrack">
            <a href="/download/zenek-zombie-soundtrack.zip">
              <i class="icon-soundtrack"></i>
              <span>Soundtrack + Covers</span>
              <small class="minor">Zipped MP3s, 23 MB</small>
            </a>
          </li>
        </ul>
      </section>
      <section id="media">
        <h2 class="outline">Media</h2>
        <ul class="media clearfix">
          <li class="video">
            <iframe src="http://www.youtube.com/embed/EY2knDPBDaQ?showinfo=0" frameborder="0"></iframe>
          </li>
          <li><img src="/media/zenek-zombie/screen-1.png" alt="Screen #1"></li>
          <li><img src="/media/zenek-zombie/screen-6.png" alt="Screen #6"></li>
          <li><img src="/media/zenek-zombie/screen-5.png" alt="Screen #5"></li>
          <li><img src="/media/zenek-zombie/screen-3.png" alt="Screen #3"></li>
          <li><img src="/media/zenek-zombie/screen-4.png" alt="Screen #4"></li>
          <li><img src="/media/zenek-zombie/screen-2.png" alt="Screen #2"></li>
        </ul>
      </section>
    </article>
