<% @title = "Not Found" %>
    <section role="main">
      <h1 class="heading heading-primary">Not Found</h1>
      <div class="formatting">
        <p>The URL you requested could not be found.</p>
      </div>
    </section>
