<% @title = "About Kalafior Games" %>
    <section role="main">
      <h1 class="heading heading-primary">About</h1>
      <div class="formatting">
        <p>Kalafior Games is the home of games made by <a href="http://lamberski.com" rel="external">Maciej Lamberski</a>. The goal is to create games that allow the player to not only have fun, but also gain something from the experience.</p>
        <p>If you have any technical problems with games, want to say hello or anything else you can imagine, please use this email address: <a href="mailto:hello@kalafiorgames.com">hello@kalafiorgames.com</a>.</p>
        <p>Psst! If you are such a nerd like me, be sure to check out <a href="http://github.com/lamberski/kalafiorgames">source of this website</a> on GitHub.</p>
      </div>
    </section>
