.container {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: calc(var(--width--header) + var(--width--content) + var(--tick));
    padding: calc(var(--tick) * 2) calc(var(--tick) / 2);

    @media (max-width: 768px) {
        flex-direction: column;
        padding: var(--tick) calc(var(--tick) / 2);
        max-width: calc(var(--width--content) + var(--tick));
    }
}
