.downloads {
    margin-top: calc(var(--tick) * -1);
    display: flex;
    flex-wrap: wrap;

    li {
        flex-basis: 50%;
        margin-top: var(--tick);
    }

    svg {
        position: absolute;
        top: 50%;
        left: 0;
        width: auto;
        height: 50px;
        transform: translateY(-50%);
    }

    a {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: calc(var(--tick) * 2);

        &::before {
            display: none;
        }
    }

    @media (hover: hover) {
        a:hover {
            span,
            small {
                color: var(--color-accent);
            }
        }
    }

    @media (max-width: 512px) {
        flex-direction: column;
    }
}
