.game {
    display: flex;
    flex-wrap: wrap;

    &::before,
    &::after {
        display: none;
    }

    @media (hover: hover) {
        &:hover * {
            color: var(--color-accent);
        }
    }
}

.game__poster {
    height: 130rem;
    background: var(--color--minor);
    margin-bottom: 10rem;
    object-fit: cover;
    object-position: left;
}

.game__meta {
    display: flex;
    margin-left: auto;

    dd {
        display: inline-block;
    }

    dd + dd::before {
        content: ',\00a0';
    }

    dd + dt + dd::before {
        content: '\00a0\00b7\00a0';
    }

    @media (max-width: 512px) {
        display: none;
    }
}
