*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 1px;
}

body {
  font-family: var(--font--base);
  font-weight: 400;
  font-size: var(--size--base);
  line-height: var(--tick);
  color: var(--color--base);
  background: var(--color-background);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    min-width: var(--width-min-body);
    height: 3rem;
    background: var(--color--accent);
  }
}

ul {
  list-style: none;
}

svg,
img {
  vertical-align: top;
  width: 100%;
  fill: currentcolor;
}

a {
  display: inline-block;
  position: relative;
  color: currentcolor;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 0.65em;
    left: 0;
    border-bottom: 2rem solid var(--color--border);
  }

  &::after {
    content: "";
    position: absolute;
    inset: -0.25em;
  }

  @media (hover: hover) {
    &:hover,
    &:hover::before {
      color: var(--color--accent);
      border-color: var(--color--accent);
    }
  }
}
