.copy {
  line-height: var(--tick);
  color: var(--color--base);

  blockquote > div > *,
  blockquote > *,
  > * {
    margin-top: var(--tick);
  }

  blockquote > :first-child,
  > :first-child {
    margin-top: 0;
  }

  ul,
  ol {
    padding-left: 0.9em;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  blockquote {
    padding-left: 1em;
    color: var(--color--minor);
    border-left: 0.125em solid var(--color--border);
  }

  pre,
  code {
    font-family: Menlo, Consolas, "Ubuntu Mono", "Roboto Mono", "DejaVu Sans Mono", monospace;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
